//Шрифт
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

// Обнуление
@import "normal.scss";

//Переменные
$color_2: #2f3a29;
$color_4: #313131;
$color_5: #fff;
$color_6: #21444e;

//Шаблоны
%dispFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    color: $color_4;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    %h2 {
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width: 992px) {
    %h2 {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 992px) {
    %h2 {
        margin-bottom: 20px;
    }
}

%darkLink {
    background-color: $color_2;
    color: $color_5;
    font-size: 14px;
    padding: 12px 30px 12px 30px;
    border-radius: 3px;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: $color_6;
    }
}

%sectionPadding {
    padding: 70px 0;
}

@media (max-width: 992px) {
    %sectionPadding {
        padding: 60px 0;
    }
}

@media (max-width: 768px) {
    %sectionPadding {
        padding: 40px 0;
    }
}

@media (max-width: 576px) {
    %sectionPadding {
        padding: 30px 0;
    }
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1300px;
    margin: 0 70px;
}

@media (max-width: 992px) {
    .container {
        margin: 0 50px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 40px;
    }
}

@media (max-width: 576px) {
    .container {
        margin: 0 10px;
    }
}

.optovikam__section {
    @extend %sectionPadding;

    h2 {
        @extend %h2;
    }

    .optovikam__text {
        div:first-child {
            margin-bottom: 30px;
        }

        h3 {
            @extend %h2; 
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .optovikam__form {
        margin-top: 30px;
        @extend %dispFlex;
        flex-direction: column;
        align-items: flex-start;

        p {
            font-style: italic;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 30px;
        }

        input {
            font-family: inherit;
            font-size: inherit;
            line-height: 30px;
            padding: 10px;
            border: 1px solid $color_2;
            border-radius: 5px;
            width: 300px;
            margin-bottom: 20px;

            &.err {
                box-shadow: 0 0 10px red;
            }
        }

        textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: 24px;
            padding: 10px;
            border: 1px solid $color_2;
            border-radius: 5px;
            width: 650px;
            height: 150px;
            margin-bottom: 20px;
            resize: vertical;

            &.err {
                box-shadow: 0 0 10px red;
            }
        }

        button {
            @extend %darkLink;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .optovikam__section {
        .optovikam__form {
            textarea {
                width: 500px;
            }
        }
    } 
}

@media (max-width: 576px) {
    .optovikam__section {
        .optovikam__form {
            align-items: center;
            
            textarea {
                width: 300px;
            }
        }
    } 
}